/*
--raisin-black: #272932ff;
--rust: #a44200ff;
--gray-x-11-gray: #bab5b5ff;
--spanish-gray: #8c938bff;
*/

.dbug {
    border: 1px red solid;
}

#welcomeMessage h3 {
    font-family: 'Quattrocento Sans', sans-serif;
    padding: 10px 0 0 10px;
    margin: 0;
}

#name {
    font-size: 2.5em;
}

.headerWrapper {
    border: #272932ff 1px solid;
    box-shadow: 5px 5px 7px #bab5b5ff;
    color: #272932ff;
    padding-bottom: 10px;

}

#selfImage {
    box-shadow: 5px 5px 7px #bab5b5ff;
    border-radius: 80%;
    margin: 10px 10px 0 0;
}

#name h1 {
    font-family: 'Quattrocento Sans', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 3em;
    text-align: right;
}

nav {
    float: none;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #272932ff;
    background-color: #bab5b5ff;
    list-style: none;
    font-size: 2.25em;
    font-weight: bolder;
    display: inline;
    padding: 10px 15px;
    margin: 0 10px;
}