div.welcomeMessage {
    height: 12em;
    font-family: 'Rock Salt', cursive;
}

div.welcomeMessage h1 {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
